.css-19lg153-CardDetail{
    border-radius: 10px !important;
    
}
.card{
    display: flex;
    justify-content: flex-end;
    border-radius: 10px !important;
    // padding:4rem;
    align-items: flex-start;
    align-content: flex-end;
    min-height: 200px;
    transition:background-color .5s ease-in-out;

    @media(min-width: 576){
        &:first-child{
            margin-left: 50px !important;
        }
    }
    svg{
        transition:color .3s ease-in-out;
    }
    &:hover{
        background-color: #af235d !important;
        color:white;
        cursor: pointer;
     
     svg{
         color:white;
     }   
    }
}
.card-body{
    display:flex;
    align-items: flex-end;
    max-height: 250px;
    overflow: hidden;
    position: absolute;
    svg{
        margin-bottom: 1.9rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
.card-group{
    width: 100vw;
    @media(max-width:1000px){
        display:table-row !important;
        width: 100vw;
        .card:first-child{
            margin-left: 0px  !important ;
        }
    }
    
}
#firstCard{
    @media(max-width: 576px){
        margin-left: 2rem !important;
    }
}