.headroom--scrolled {
    transition: transform 200ms ease-in-out !important;
  }
.navbar{
  background-color: transparent !important;
}
.nav, .navbar{
  background-color: transparent !important;

}
.bg-light{
  background-color: transparent !important;

}
#head > div > nav{
  background-color: transparent !important;

}