#arrow{
    transition:all .3s ease-in-out;
        svg{
            transition: all 1s ease-in !important;
            &:hover{
            transition: all 1s ease-in !important;

                transform:translateY(2px) !important;
            }
    }
}


// div.animate__animated.animate__fadeIn.css-obsbhy-HomeScreen.row.row-cols-lg-12 svg{
//     animation-iteration-count: unset !important;
//     color:red;
// }